.coin {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.cube {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  animation: rotateCube 5s linear infinite;
}
.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(50px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(50px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(50px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(50px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(50px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes rotateCube {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.btn-primary {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.25s ease;
  border: none;
  outline: none;
  min-height: 58px;
  padding: 0 28px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.36px;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 5px;
  position: relative;
}

.btn-primary.desgined-btn:before {
  content: "";
  height: calc(100% - 30px);
  width: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1px;
  background: #000000d9;
}

.desgined-btn:after {
  content: "";
  height: calc(100% - 30px);
  width: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1px;
  background: #000000d9;
}

.btn-primary.desgined-btn span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.desgined-btn span:before {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%);
  background: #000000d9;
}

.desgined-btn span:after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  background: #000000d9;
}
.desgined-btn:hover {
  border-color: #cc3cd9;
  color: #cc3cd9;
}
.sec-ttl {
  font-size: 78px;
  justify-content: center;
  max-width: 460px;
  margin-bottom: 50px;
  line-height: 110%;
  font-weight: 700;
  color: transparent;
  background-image: radial-gradient(
    129.59% 222.59% at 51.24% 40.3%,
    #fafafa,
    #fafafa1a
  );
  text-transform: capitalize;
  text-align: start;
  -webkit-background-clip: text;
  background-clip: text;
}
.supply-wpr span:first-child {
  color: #fafafaa3;
  line-height: 150%;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
}
.supply-wpr span:last-child {
  color: rgb(250 250 250);
  line-height: 100%;
  font-size: 28px;
  font-weight: 600;
}
.supply-wpr {
  padding: 15px 25px;
  border-radius: 6px;
  margin-bottom: 32px;
  background: linear-gradient(
    135deg,
    rgba(205, 76, 218, 0.3),
    rgba(155, 50, 150, 0.1)
  );
}

.tokennoics-wpr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ocupied-title {
  font-size: 16px;
  text-align: end;
  width: 100%;
  color: rgb(255 255 255);
  font-weight: 700;
  white-space: pre-wrap;
  display: block;
  text-transform: uppercase;
}

.ocupied-outer {
  gap: 12px;
  flex-direction: column;
  display: flex;
  margin-bottom: 12px;
}

.ocupied-block {
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.stroke {
  height: 2px;
  background-color: #fafafa1f;
  height: 2px;
}
span.ocupied-number {
  display: block;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}
.ocupied-percentage {
  border: 2px solid #cd4cda;
  padding: 11px 12px;
  border-width: 2px;
  border-radius: 2px 15px 2px;
  gap: 10px;
  display: flex;
  min-width: 80px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.tokennoics-ouetr-wpr {
  position: relative;
  /* padding: 80px 0; */
}
.btn-wpr {
  max-width: 270px;
}
.bg-image-tockenomics {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* border: 5px solid #fff; */
  border-radius: 100%;
  height: 350px;
  z-index: 1;
  opacity: 0.7;
  top: 50%;
  transform: translateY(-50%);
}
.tokennoics-wpr {
  position: relative;
  z-index: 3;
}
.tokenomics-tittl-sec {
  max-width: 35%;
  width: 100%;
}
.tokennomics-right {
  max-width: 35%;
  width: 100%;
}
@media (max-width: 991px) {
  .tokenomics-tittl-sec {
    max-width: 100%;
}

.tokennomics-right {
    max-width: 100%;
}

.tokennoics-wpr {
    flex-direction: column;
}

.bg-image-tockenomics {
    position: relative;
    transform: none;
    margin-bottom: 50px;
}

}
.roadmapheading span {
  display: block;
}
div#section6 .sec-ttl {
  margin: auto;
  text-align: center;
  line-height: 130%;
}
.roadmapCard {
  padding: 20px 16px;
  border-color: rgb(250 250 250 / 33%);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 340px;
  padding-bottom: 35px;
  border-radius: 0 25px;
}
.date-wpr.ocupied-percentage {
  max-width: max-content;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  padding: 12px 25px;
  border: 2px solid rgb(250 250 250 / 33%);
}
.steps {
  font-size: 28px;
  color: rgb(250 250 250 / 81%);
  line-height: 130%;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 800;
  font-family: '__Orbitron_b19098', '__Orbitron_Fallback_b19098';
}
.roadmapCard ul {
  list-style: initial !important;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.roadmapCard ul li {
  color: transparent;
  font-weight: 400;
  font-size: 20px;
  gap: 8px;
  background-image: linear-gradient(90deg, #e3e8ef, #9aa4b2);
  align-items: center;
  display: flex;
  line-height: 120%;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}
.roadmapCard ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #ffffffb3;
  left: -20px;
  position: absolute;
  border-radius: 100%;
}
.swiper.roadmapSwiper {
  position: relative;
}
.swiper.roadmapSwiper .swiper-wrapper {
  position: relative;
  padding-bottom: 70px;
}
.swiper.roadmapSwiper .swiper-slide {
  height: auto;
}
div#section6 {
  padding-bottom: 100px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
}
.custom-navigation {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.custom-navigation span.swiper-pagination-bullet {
  background: #cd4cda;
}
.custom-navigation .swiper-button-prev, .custom-navigation .swiper-button-next, .custom-navigation .swiper-pagination {
  position: unset;
  display: flex;
  width: auto !important;
  margin: 0;
}

/* .swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
} */
.swiper-btn-wpr .swiper-button-prev,
.swiper-btn-wpr .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: inherit;
  min-width: 65px;
  height: 45px;
}
.swiper-btn-wpr {
  position: absolute;
  bottom: 50px;
  max-width: 290px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  right: 0;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 20px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
.swiper.roadmapSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #a09696;
  opacity: 1;
}
.swiper.roadmapSwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #cc3cd9 !important;
}
.swiper.roadmapSwiper .swiper-button-next,
.custom-navigation .swiper-button-next,
.swiper.roadmapSwiper .swiper-button-prev,
.custom-navigation .swiper-button-prev {
  width: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  height: 50px;
  top: inherit;
  bottom: 0;
  z-index: 999;
}
.swiper.roadmapSwiper .swiper-button-next {
  left: inherit;
  right: 36.8vw;
}
.swiper.roadmapSwiper .swiper-button-prev {
  right: inherit;
  left: 36.8vw;
}
.swiper.roadmapSwiper .swiper-button-next:hover,
.swiper.roadmapSwiper .swiper-button-prev:hover {
  color: #cc3cd9;
  border-color: #cc3cd9;
}
.swiper.roadmapSwiper .swiper-button-next:hover::after,
.swiper.roadmapSwiper .swiper-button-prev:hover::after {
  color: #cc3cd9;
}
.swiper-slide.swiper-slide-active .roadmapCard {
  background-image: url("/images/otherimages/card-back.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.sec-ttl.faq {
  max-width: 550px;
  margin-bottom: 40px;
  padding-bottom: 0px;
}

.accordion-content {
  display: flex;
  justify-content: space-between;
}
div#section7 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.how-itswork-tittle {
  margin-bottom: 20px;
}

.accordion-question {
  width: 100%;
  padding: 15px;
  color: white;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  gap: 30px;
}

.accordion-question.active {
}
.accordion-answer p {
  font-size: 18px;
  font-weight: 300;
}
.accordion-question.active span.arrow {
  width: 10px;
  height: 10px;
  background: aliceblue;
  font-size: 0;
}
.arrow {
  font-size: 14px;
}
.accordion-item {
  margin-bottom: 20px;
}
.accordion-answer {
  padding: 0px 15px;
  color: white;
}
.accordion-answer.open {
  padding-bottom: 15px;
}
.button-upr-degin {
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
}

.button-upr-inner {
  position: relative;
  height: 20px;
  border-radius: 8px 8px 0 0;
  border-top: 1px solid rgba(250, 250, 250, 0.12);
  border-right: 1px solid rgba(250, 250, 250, 0.12);
  border-left: 1px solid rgba(250, 250, 250, 0.12);
  transition: 0.3s;
}

.button-upr-inner:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #fafafa1f;
}

.button-upr-inner:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #fafafa1f;
}
.swiper-pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  bottom: 20px !important;
}

@media (min-width: 1281px) {
  .presale-from{
    padding-right: 0px !important;
  }
}

@media (max-width: 580px) {
  .supply-wpr span:last-child{
    font-size: 24px;
  }
}